auth_service/back/__pycache__/*

auth_service/back/__pycache__/*
/back/migrations/__pycache__

auth_service/back/__pycache__/*
/authenv/*
auth_service/authenv/*
.env
venv/*
twofa/twofa/__pycache__/*
twofa/twofa/migrations/__pycache__/*
twofa/db.sqlite3
twofa/mail.py
